# Core functionality - changes here should be rare!
/src/app.py                   @MatthewTrombley
/src/backend/database.py      @MatthewTrombley
/src/backend/routers/auth.py  @MatthewTrombley

# The frontend will need refactored soon to be more object oriented.
/src/static/   @MatthewTrombley
